server {
    listen ${PORT};
    server_name 0.0.0.0;

    location /api {
      proxy_pass http://${SERVER_URL}/api;
    }

    location / {
        include  /etc/nginx/mime.types;

        root   /usr/share/nginx/html/;
        index  index.html index.htm;
    }

}
